.container {
  width: 50%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}
.css {width: 80%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}
.js {width: 75%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}
.react {width: 75%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}
.node {width: 70%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}
.ruby {width: 58%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}
.ui {width: 55%; background: linear-gradient(to left, #0066ff 0%, #00ffcc 100%)}

.aboutMe {
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.aboutMe:before{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid red;
}

.skillContainer {
 text-align: center;
 padding-bottom: 10px;
}

p {
 text-align: center;
 padding-top: 20px;
}

.description {
  padding: 30px;
}