.App {
  background-image: linear-gradient( rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6));
  background-color: #FFFA02;
  animation: rgb 30s infinite alternate;
  height: 900px;
  width: auto;
  background-size: cover;
}

@keyframes rgb {
  10% {
    background-color: #FF6B02;
  }
  20% {
    background-color: #FF0602;
  }
  30% {
    background-color: #FF0289;
  }
  40% {
    background-color: rgb(241, 9, 98);
  }
  50% {
    background-color: #022CFF;
  }
  60% {
    background-color: #02BFFF;
  }
  70% {
    background-color: #02FFBB;
  }
  80% {
    background-color: #02FF28;
  }
  90% {
    background-color: #63FF02;
  }
  100% {
    background-color: #C8FF02;
  }
}

h1 {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30pt;
  margin-top: 25%;
  text-align: center;
  padding-top: 24%;
}


/* button */


.wrapper{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#landingPageButton {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

#landingPageButton span {
  position: relative;
  z-index: 2;
}

#landingPageButton:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}

#landingPageButton:hover {
  color: #fff;
}

#landingPageButton:hover:after {
  width: 100%;
}